<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
    * {
      margin-top: 2rem;
      text-align: center;
      font-family: 'Nunito', sans-serif;
      font-size: large;
    }
  </style>
</head>
<body>
  <p>Hello</p>
  <h1><%=user.user_name%></h1>
  <p>Selamat! email mu sudah terverifikasi, sekarang kamu
    bisa menggunakan seluruh layanan tixscape.</p>
  <p>Klik link <a href="http://localhost:3000/signin">ini</a> untuk kembali ke halaman tixscape</p>
</body>
</html>